<%= simple_form_for(@custom) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :texte %>
    <%= f.input :couleur %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
