<%content_for :nav do %>
  <div class="navbar-fixed">
  <nav class="default_color" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Portifull</a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        <!-- Dropdown Structure -->
              <ul id="dropdown1" class="dropdown-content">
                <li><a href="#presentation">Presentation</a></li>
                <li><a href="#pdj">Pens&eacute;e</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#event">Events</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="divider"></li>
                      <li><%= link_to "Deconnexion", destroy_user_session_path, method: :delete  %></li>
              </ul>
          <!-- / Dropdown Structure -->
                    <li><%= image_tag current_user.profil.thumb('30x30#').url, class: 'circle' %> </li>
                    <li><%= link_to current_user.prenom+" "+current_user.nom, edit_user_registration_path %></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Menu<i class="ti-arrow-down right"></i></a></li>

              <% else  %>
              <li><a href="#presentation">Presentation</a></li>
              <li><a href="#pdj">Pens&eacute;e</a></li>
              <li><a href="#work">Work</a></li>
              <li><a href="#event">Events</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><%= link_to "Inscription", new_user_session_path  %></li>
              <% end %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <% if user_signed_in? %>
        <li><div class="userView">
          <%= image_tag current_user.cover.thumb('300x300#').url, class: 'background'%>
          <%= image_tag current_user.profil.thumb('80x80#').url, class: 'circle' %>
          <a href="<%= edit_user_registration_path %>"> <span class="white-text name">
          <%= current_user.prenom+" "+current_user.nom %></span></a>
          <a href="<%= edit_user_registration_path %>"> <span class="white-text email">
          <%= current_user.email %></span></a>
        </div></li>
        <li><a href="#presentation">Presentation</a></li>
        <li><a href="#pdj">Pens&eacute;e</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#event">Events</a></li>
        <li><a href="#contact">Contact</a></li>
              <li><%= link_to "Deconnexion", destroy_user_session_path, method: :delete  %></li>
              <% else  %>
              <li><a href="#presentation">Presentation</a></li>
              <li><a href="#pdj">Pens&eacute;e</a></li>
              <li><a href="#work">Work</a></li>
              <li><a href="#event">Events</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><%= link_to "Inscription", new_user_session_path  %></li>
              <% end %>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="ti-menu"></i></a>
    </div>
    </div>
  </nav>
<% end %>
<% @customs.each do |c|  %>
  <style>
  .default_color{background-color: <%= c.couleur %> !important}
  nav a {
    color: <%= c.texte %> !important;
  }
  </style>
<% end %>
<% if @customs.empty? %>
<style>
nav {
  background-color: #003366 !important
}
nav a {
  color: white !important;
}
 #dropdown1 a {
  color: #003366 !important;
}
.side-nav a{
  color: #003366 !important;
}
</style>
<% end %>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <% if user_signed_in? %>
      <div class="row center">
        <%= image_tag current_user.profil.thumb('150x150#').url, class: 'circle hoverable' %>
      </div>
      <br>
      <h1 class="text_h center header cd-headline letters type"><%= current_user.prenom+" "+current_user.nom %>
        <hr>
      <% else %>
      <div class="row center">
        <img src="/adji.jpg" class="circle" />
      </div>
      <br>
      <h1 class="text_h center header cd-headline letters type">welcome
        <hr>
        <% end %>
      <div class="row center">
        <% if current_user.citation.nil? %>
          <h5 class="header col s12 light">  veuillez inserer votre citation </h5>
          <% else %>
          <h5 class="header col s12 light"> <%= current_user.citation %> </h5>
         <% end %>
      </div>
      </h1>
      <div class="row center hide-on-small-only ">
        <a href="#presentation" id="tohash" class="waves-effect  wow bounce" data-wow-iteration="infinite" data-wow-duration="2s">
          <h2><i class="ti-arrow-circle-down"></i></h2>
        </a>
      </div>



    </div>
  </div>
  <% if user_signed_in? %>
  <div class="parallax">
    <%= image_tag current_user.cover.thumb('1440x835#').url%>
  </div>
    <% else %>
      <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 2"></div>
  <% end %>
</div>


<div class="container">
  <div id="presentation" class="section scrollspy">

    <!--   Icon Section   -->
    <div class="row colonne">
      <div class="col s12 m6 l6">
        <div  class="icon-block wow slideInLeft" data-wow-delay="200ms">
          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>



      <div class="col s12 m6 l6  z-depth-2">
        <div class="icon-block wow slideInRight" data-wow-delay="205ms">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div id="pdj" class="section no-pad-bot scrollspy">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="parallax"><%= image_tag current_user.cover.thumb('1440x835#').url%></div>
    <% else %>
      <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  <% end %>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container">
        <h2 class="header text_b">Work </h2>
        <div class="row">
          <% @works.each do |w| %>
            <div class="col s12 m4 l4 wow flipInX" >
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <%= image_tag w.image.thumb('500x500#').url %>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= w.title %><i class="mdi-navigation-more-vert right"></i></span>
                        <p><%= link_to 'Project Link', w %></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= w.title %><i class="ti-close right"></i></span>
                        <p><%= w.description %></p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
  <div id="event" class="section no-pad-bot scrollspy">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="parallax"><%= image_tag current_user.cover.thumb('1440x835#').url%></div>
    <% else %>
      <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 2"></div>
  <% end %>
</div>

<footer id="contact" class="default_color page-footer teal scrollspy">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>
