<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @item.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', root_path %>
<%= link_to 'Delete', @item, method: :delete, data: {confirm: "Sure?"} %>
