<!DOCTYPE html>
<html>
<head>
  <title>Last</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/animate.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merienda|Titan+One" rel="stylesheet">
  <%= yield :style %>
</head>
<body>

<%= yield :nav %>

<%= yield %>

<script src="js/init.js"></script>
</body>
</html>
